<div class="page-header">
    <div class="page-block">
      <div class="row align-items-center">
        <div class="col-md-12">
          <div class="page-header-title">
            <h5 class="m-b-10">{{pgHeader.title}}</h5>
          </div>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/claims'"><i class="feather icon-home"></i></a></li>
            <li *ngFor="let crumb of pgHeader.breadcrumbs; let last = last" class="breadcrumb-item">
              <a [routerLink]="crumb.url">{{ crumb.label }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>