<nav class="pcoded-navbar menu-light ">
  <div class="navbar-wrapper  ">
    <div class="navbar-content scroll-div ">

      <div class="">
        <div class="main-menu-header">
          <img class="img-radius" src="/assets/images/user/avatar-2.jpg" alt="User-Profile-Image">
          <div class="user-details">
            <div id="more-details">{{user?.firstName}} {{user?.lastName}}</div>
          </div>
        </div>
      </div>
      <ul class="nav pcoded-inner-navbar">
        <li class="nav-item" *ngFor="let item of navItems">
          <a [routerLink]="item.path" class="nav-link">
            <span class="pcoded-micon"><i [class]="item.icon"></i></span>
            <span class="pcoded-mtext">{{ item.label }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>